<html>
<body>
    <div class="login">
       <h1>Student Exam Performance Indicator</h1>
   
       <form action="{{ url_for('predict_datapoint')}}" method="post">
        <h1>
            <legend>Student Exam Performance Prediction</legend>
        </h1>
        <div class="mb-3">
            <label class="form-label">Gender</label>
            <select class="form-control" name="person_gender" placeholder="Enter you Gender" required>
                <option class="placeholder" selected disabled value="">Select your Gender</option>
                <option value="male">
                    Male
                </option>
                <option value="female">
                    Female
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Education</label>
            <select class="form-control" name="person_education" placeholder="Enter you Education" required>
                <option class="placeholder" selected disabled value="">Select your Education</option>
                <option value="Associate">
                    Associate
                </option>
                <option value="Bachelor">
                    Bachelor
                </option>
                <option value="Doctorate">
                    Doctorate
                </option>
                <option value="High School">
                    High School
                </option>
                <option value="Master">
                    Master
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Home Ownership</label>
            <select class="form-control" name="person_home_ownership" placeholder="Enter you Home Ownership" required>
                <option class="placeholder" selected disabled value="">Home Ownership</option>
                <option value="Mortgage">
                    Mortgage
                </option>
                <option value="Other">
                    Other
                </option>
                <option value="Own">
                    Own
                </option>
                <option value="Rent">
                    Rent
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Loan Intent</label>
            <select class="form-control" name="loan_intent" placeholder="Enter you loan intent" required>
                <option class="placeholder" selected disabled value="">Loan Intent</option>
                <option value="Debtconsolidation">
                    Debtconsolidation
                </option>
                <option value="Education">
                    Education
                </option>
                <option value="Medical">
                    Medical
                </option>
                <option value="Personal">
                    Personal
                </option>
                <option value="Homeimprovement">
                    Homeimprovement
                </option>
                <option value="Venture">
                    Venture
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Previous Loan Defaulter</label>
            <select class="form-control" name="previous_loan_defaults_on_file" placeholder="Enter you Previous Loan Defaulter" required>
                <option class="placeholder" selected disabled value="">Select Previous Loan Defaulter</option>
                <option value="No">
                    No
                </option>
                <option value="Yes">
                    Yes
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Enter Person Age</label>
            <input class="form-control" type="number" name="person_age"
                placeholder="Enter your Person Age" min='18' max='90' />
        </div>
        <div class="mb-3">
            <label class="form-label">Enter Person Income</label>
            <input class="form-control" type="number" name="person_income"
                placeholder="Enter Person Income" min='0' max='' />
        </div>
        <div class="mb-3">
            <label class="form-label">Enter Person Employment Experience</label>
            <input class="form-control" type="number" name="person_emp_exp"
                placeholder="Enter Person Employment Experience" min='0' max='' />
        </div>
        <div class="mb-3">
            <label class="form-label">Enter Loan Amount</label>
            <input class="form-control" type="number" name="loan_amnt"
                placeholder="Enter Loan Amount" min='0' max='' />
        </div>
        <div class="mb-3">
            <label class="form-label">Enter Loan Interest</label>
            <input class="form-control" type="number" name="loan_int_rate"
                placeholder="Enter Loan Interest" min='0' max='' />
        </div>
        <div class="mb-3">
            <label class="form-label">Enter Loan percent income</label>
            <input class="form-control" type="number" name="loan_percent_income"
                placeholder="Enter Loan percent income" min='0' max='' />
        </div>
        <div class="mb-3">
            <label class="form-label">Enter Person cred history</label>
            <input class="form-control" type="number" name="cb_person_cred_hist_length"
                placeholder="Enter Person cred history" min='0' max='' />
        </div>
        <div class="mb-3">
            <label class="form-label">Enter Credit Score</label>
            <input class="form-control" type="number" name="credit_score"
                placeholder="Enter Credit Score" min='0' max='' />
        </div>
        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Predict Approval" required />
        </div>
    </form>
    <h2>
       THE  prediction is {{results}}
    </h2>
   <body>
</html>